<div [ngClass]="project ? 'show' : 'hide' " class="background">
  <div class="container">
    <div class="grid">
      <div class="title-block">
        <div class="title">{{project.title}}</div>
      </div>
      <div class="video">
          <div class="loading" [ngClass]="loaded ? 'hide' : 'show' "><i class="fas fa-spinner fa-spin"></i></div>
        <div [ngClass]="loaded ? 'show' : 'hide' ">
          <video #videoPlayer src="../../../assets/vid/player.mp4"></video>
        </div>
      </div>
      <div class="description">The standard Lorem Ipsum passage, used since the 1500s
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </div>
      <div class="footer">
        <span (click)="closeModal()" class="close">Close</span>
      </div>
      <div class="controls">
        <div class="sliderBar">
          <input #videoSlider type="range" min="0" [max]="duration" [value]="currentTime" class="slider" 
          (input)="updateTime($event.target.value)"
          (mousedown)="displayTime = true"
          (mouseup)="displayTime = false">
          <span #hoverTime class="time" [ngClass]="loaded && displayTime ? 'show' : 'hide' ">{{currentTime | timer }} / {{duration | timer }}</span>
        </div>
        <i (click)="playPause()" [ngClass]="playing ? 'fas fa-pause-circle' : 'fas fa-play-circle' " class="playbtn"> </i>
      </div>
    </div>
  </div>
</div>