
<div class="page-container project-container">
    <div>
        <p>Greetings,</p>
        <p>I am a web developer in Seattle with two years of professional experience using the .NET stack and TypeScript. I familiar with Azure, Angular, TSQL, and PHP. Below are front-end highlights of my work.</p>
        <p>Jonathan</p>
    </div>
  <div>
    <h3 class="title">Professional</h3>
    <div class="project" *ngFor="let project of professionalProjects" (click)="selectProject(project)">
      <h4 id ="{{project.elementId}}" class="sub-title">{{project.title}}</h4>
      <img src="{{project.src}}" />
    </div>
  </div>
  <div>
    <h3 class="title">Personal</h3>
    <span class="project" *ngFor="let project of personalProjects" (click)="selectProject(project)">
        <h4 id ="{{project.elementId}}" class="sub-title">{{project.title}}</h4>
        <img src="{{project.src}}" />
      </span>
  </div>
</div>
<app-projectmodal  
  *ngIf="selectedProject" 
  [project]="selectedProject"
  (close)="selectedProject = null">  
</app-projectmodal>
