.project-container {
    background: transparent;
}

p {
    font-size: 1.1em;
}

.project-container .project {
    display: inline-block;
    margin: 0 30px 20px 0; /* For stacking */
    cursor: pointer;
}

.project-container .project:last-child {
    margin: 0 0 20px 0; /* For stacking */
}

.project-container img {
    width: 250px;
    height: 140px;
}

@media (max-width: 950px) {
    .project-container > div {
        width: calc(100% - 40px);
        margin: 0 0 20px 0; /* For stacking */
        padding: 5px 20px;
    }

    .project-container .project {
        margin: 0 0 20px 0; /* For stacking */
    }

    .project-container img {
        max-width: 500px;
        width: 100%;
        height: 100%;
    }
}