h1.title {
    font-weight: 200;
    color: rgba(200,200,200, .96);
    text-align: center;
}

.black-background {
    padding: 60px 10px 100px 10px;
}

.btn-container {
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 60px 30px 0 0;
    width: 150px;
    padding: 8px 20px;
    background-color: rgb(15, 50, 170);
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    transition: background-color linear .2s;
    text-align: center;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover {
    background-color: rgb(50, 75, 170);
}

.btn:active {
    background-color: rgb(30, 60, 170);
}

/* Red button */
.btn.red {
    background-color: rgb(175, 0, 0);
}

.btn.red:hover {
    background-color: rgb(175, 25, 25);
}

.btn.red:active {
    background-color: rgb(175, 15, 15);
}

/* Hover Effect */
.phone.no-progress::after {
    content: ' Call my cell';
}

.phone.no-progress:hover::after {
    content:' Set up mic first'
}

.phone.in-progress::after {
    content: ' End';
}

.phone.in-progress:hover::after {
    content:' End'
}


.show-email, .show-phone-message {
    margin-top: 20px;
    text-align: center;
    height: 20px;
}

.show-phone-message span {
    transition: opacity .8s linear;
}

.show-phone-message .hide {
    opacity: 0;
    
}

.show-phone-message .show {
    opacity: 1;
}



