.background-container > div {
}

.grid {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: calc(80% - 40px) 20%;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    margin-bottom: 40px;
    font-size: 1.1em;
}

.img {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}

img {
    width: 100%;
}

@media (max-width: 950px) {
    .grid {
        display: block;
    }
    p {
        margin-bottom: 10px;
    }

    .img {
        top: 0;
        transform: translateY(0);
    }

    img {
        width: 200px;
        margin-bottom: 30px;
    }
}