<div class="video-background">
    <video video-background src="../../assets/vid/womantyping.mp4" autoplay loop></video>
    <div class="cover"></div>
</div>
<div class="navigation heading-text" [ngClass]="atTop ? 'at-top' : 'not-at-top' ">
  <nav>
    <span class="name">Jonathan Buchner</span>
    <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Projects</a>
    <a routerLink="./Background" routerLinkActive="active">Background</a>
    <a routerLink="./Contact" routerLinkActive="active">Contact</a>
    <a href="https://www.linkedin.com/in/buchner/"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://github.com/JonathanBuchner"><i class="fab fa-github-square"></i> Github</a>
  </nav>
</div>

