body{
    color: white;
    font-family: Segoe UI,SegoeUI,Segoe WP,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Routing animation requires absolute display block */
.page-container {
    position: absolute;
    display: block;
    margin: 100px 100px;
}

.readable {
    padding: 5px 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.65);
    color: rgb(40, 40, 40);
}

.project-container > div, .black-background {
    position: relative;
    width: 810px;
    margin: 0 0 40px 0; /* For stacking */
    padding: 5px 30px;
    background: rgba(0,0,0,.75);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.65);
}

@media (max-width: 900px) {
    .page-container {
        position: absolute;
        display: block;
        margin: 110px 10%;
    }
}

/* Text */
a {
    color: inherit;
    text-decoration: inherit;
}

.heading-text {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px; 
}

.title {
    font-weight: 700;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.sub-title {
    margin: 0;
    text-shadow: 0 0 8px black;
    font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(120,120,120);
    letter-spacing: 2px;
}